@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="openId" name="openId" underline="true"/>
                            <#input id="nickName" name="昵称" underline="true"/>
                            <#input id="sex" name="性别" underline="true"/>
                            <#input id="province" name="省份" underline="true"/>
                            <#input id="country" name="国家"/>
                </div>

                <div class="col-sm-6">
                            <#input id="city" name="城市" underline="true"/>
                            <#input id="headimgurl" name="用户头像url" underline="true"/>
                            <#input id="privilege" name="用户特权信息" underline="true"/>
                            <#input id="unionid" name="unionid" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TUserInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TUserInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/Consumer/tUser/tUser_info.js"></script>
@}
